body {
    margin-left: 20px;
}
.navBar,
.addMovie{
    margin-bottom: 20px;
}
.listItem {
    border: 1px solid black;
    width: 700px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 25px, 40px;
    padding-left: 30px;
}
label {
    text-align: right;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    background-color: #8cff1a;
    
}